.catgry
{
  background: linear-gradient(90deg, #8062F0 1.49%, #697EE2 10.56%, #5D8CDB 19.39%, #4BA6CC 28.63%, #40BAC0 36.16%, #2BDDAD 46.66%);
  -webkit-background-clip: text; /* For Chrome, Safari, and Opera */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* For non-WebKit browsers */
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 92px;
  text-align: left;
  /* margin-left: 50px; */
  margin-top: 30px;
}

.gradientBackgrnd
{
  background: linear-gradient(85.14deg, #181C28 5.41%, #172C28 47%, #1E3432 62.02%, #111648 99.67%);
}

.flipping-card {
  position: relative;
}

.text-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 1;
  height: 65%; /* Adjust the percentage as needed */
  bottom: 0;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.75); /* Ensures the text box has a background */
  padding: 10px; /* Adjust padding if necessary */
  border-radius: 0 0 10px 10px; /* Matches the card's border radius */
}


.flipping-card:hover .text-overlay {
  opacity: 1;
}

.flipping-card:hover img {
  filter: blur(4px);
}


.flipping-card .back-face {
  transform: rotateY(180deg);
}

.category-button {
  transition: transform 0.3s ease-in-out;
}

.category-button:hover {
  transform: translateY(-5px);
}

