/* ReportPageCS.css */

.report-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 40px;
}

.report-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #2b6cb0;
}

.report-box {
  flex: 0 0 calc(33.33% - 16px);
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden; 
}

.report-intro-text {
  font-size: 1rem;
  color: #4a5568;
  margin-top: 1rem;
  max-width: 70%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .report-container {
    margin-top: 50px !important;
    flex-direction: column; 
    align-items: center;
  }
  .report-heading {
    font-size: 1.5em;
  }

  .report-intro-text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 510px) {
  .report-box {
    height: 300px !important;
    width: 90% !important;
  }
}

.individual-report {
  background-color: white;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.report-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.expand-button{
  background-color: #3490dc;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.collapse-button {
  background-color: #3490dc;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  position: fixed;
  top: 16%;
  right: 8%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 500px) {
  .modal-overlay {
    margin-top: 10px !important;
  }

  .collapse-button {
    background-color: #3490dc;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    position: fixed;
    top: 12%;
    right: 5%;
  }
  
}
@media screen and (min-width: 500px) {
  .modal-overlay {
    margin-top: 10px !important;
  }
}

.modal-content {
  margin-top: 100px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1010;
  overflow-y: auto;
  max-height: 80vh;
}

.content-item {
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .modal-content {
    padding: 10px; 
    max-height: 85vh; 
  }
}
