@media screen and (max-width: 524px) {
  .mt-custom {
    margin-top: 0 !important; 
    padding-top: 100px; 
  }
}

@media screen and (min-width: 524px) {
  .mt-custom {
    margin-top: 20px !important;
    padding-top: 0;
  }
}
