@media screen and (max-width: 524px) {
  .mt-custom {
    margin-top: 0 !important; 
    padding-top: 100px; 
  }
}

@media screen and (min-width: 524px) {
  .mt-custom {
    margin-top: 20px !important;
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .enlarge-button {
    display: none;
  }

  .pdf-title {
    font-size: 22px !important;
  }

  .pdf-desc {
    font-size: 12px !important;
  }

  .box {
    width: 93% !important;
  }
}

