.pdf-container {
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pdf-page {
  width: 45%; 
  height: auto; 
  border: 1px solid black; 
  margin: 5px;
}
