.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 40px;
}

.image-wrapper {
    display: flex;
    transition: transform 1s ease;
    align-items: center;
}

.image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.6em;
    margin-right: 20px;
}

.image:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .gallery-container {
        padding: 0 20px;
    }

    .image {
        margin-right: 10px; /* Adjust gap for smaller screens */
    }
}
