.hdng {
  font-family:'Poppins', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #0F1017 0%, #0E113A 100%);
}

.containerEvent {
  padding-top: 150px; /* This creates the 500px gap */
}

.backgroundGradient {
  background: linear-gradient(90deg, #0F1017 0%, #0E113A 100%);
}

.buttonBG {
  background: hsla(252, 100%, 66%, 1);
}

.gradient-textEvent {
  background: linear-gradient(90deg, #8062F0 1.49%, #697EE2 10.56%, #5D8CDB 19.39%, #4BA6CC 28.63%, #40BAC0 36.16%, #2BDDAD 46.66%);
  -webkit-background-clip: text; /* For Chrome, Safari, and Opera */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* For non-WebKit browsers */
  font-weight: 400;
  height: 87px;
}

.gallery-container {
  overflow: hidden;
  width: 1198px; 
  margin: 0 auto;
}

.event-box {
  width: 559px;
  flex-shrink: 0;
  margin-right: 40px;
}

.hamburger-line {
  background: hsla(227, 21%, 46%, 1);
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
