.close-button {
    background-color: #3490dc;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    position: fixed;
    top: 14%;
    right: 3%;
}

@media screen and (max-width: 500px) {
    .close-button {
        background-color: #3490dc;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1rem;
        position: fixed;
        top: 13%;
        right: 5%;
    }
}