.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 0 20px;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.gridLine {
  height: 80%;
  border-left: 2px solid #ccc;
}

.gridItem {
  text-align: center;
}

.heading {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 10;
}

.paragraph {
  font-size: 18px;
  line-height: 1.5;
  opacity: 10;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: white;
  margin-left: 15px;
}

.paragraph.animate {
  opacity: 1;
  transform: translateX(0);
}

/* Responsive styles for small screens */
/* Responsive styles for small screens */
@media screen and (max-width: 600px) {
  .heading {
    font-size: 30px; /* Reduced font size for small screens */
  }

  .paragraph {
    font-size: 12px; /* Reduced font size for small screens */
  }

  .gridContainer {
    grid-template-columns: 1fr; /* Change to a single column layout for small screens */
  }

  /* Adjust order for small screens */
  .gridItem:nth-child(1) {
    order: 1; /* "What we do" heading appears first */
  }

  .gridItem:nth-child(2) {
    order: 2; /* "What we do" text appears second */
  }

  .gridItem:nth-child(3) {
    order: 3; /* "Who we are" heading appears third */
  }

  .gridItem:nth-child(4) {
    order: 4; /* "Who we are" text appears fourth */
  }
}


