.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 0 20px;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  border-radius: 12px;
}

.gridLine {
  height: 80%;
  border-left: 2px solid #ccc;
}

.gridItem {
  text-align: center;
}

.heading {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 10;
}

.paragraph {
  font-size: 18px;
  line-height: 1.5;
  opacity: 10;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: white;
  margin-left: 15px;
}

.paragraph1 {
  font-size: 18px;
  line-height: 1.5;
  opacity: 10;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  color: white;
  margin-left: 15px;
  margin-top: 20px;
}

.paragraph.animate {
  opacity: 1;
  transform: translateX(0);
}

.container:hover {
  box-shadow: 0px 4px 30px rgba(247, 176, 253, 0.5);
}


@media screen and (max-width: 500px) {

  .paragraph {
    font-size: 12px;
  }

  .paragraph1 {
    font-size: 12px;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }

  .container {
    height: 70vh;
  }
}

@media screen and (min-width:400px) and (max-width: 1200px) {

  .paragraph {
    font-size: 13px;
  }

  .paragraph1 {
    font-size: 13px;
  }

  .container {
    height: 80vh;
  }
}