/* YourComponent.css */
.container {
    background-color: black;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .vertical-line {
    position: absolute;
    left: 300px;
    top: 100px;
    height: 90%;
    width: 8px;
    background-color: white;
  }
  
  .circle {
    position: absolute;
    left: 264px;
    top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
  }
  
  .explore-our-text {
    font-size: 80px;
    font-weight: bold;
    color: white;
  }
  
  .box {
    width: 500px;
    height: 300px;
    background-color: #1976D2;
    margin: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
  }

  @media (max-width: 568px) {
    .box{
      width: 300px;
      height: 300px;
    }
    .paragraph{
        font-size: 12px !important;
    }
    .vertical-line {
        position: absolute;
        left: 10px;
        top: 100px;
        height: 90%;
        width: 4px;
        background-color: white;
      }
      .circle {
        position: absolute;
        left: 0px;
        top: 80px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
      }
      .explore-our-text {
        font-size: 60px;
        font-weight: bold;
        color: white;
      }

      .title {
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: normal;
        color: black;
        font-family: impact;
      }
  }
  
  .link {
    text-decoration: none;
  }
  
  .title {
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: normal;
    color: black;
    font-family: impact;
  }
  
  .paragraph {
    font-size: 20px;
    font-family: baskerville;
  }
  
  /* Additional styles for other box titles and paragraphs */
  