.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sigmaContainer {
  display: flex;
  align-items: center;
}

.sigmaSymbolContainer {
  margin-right: 10px; 
  display: flex;
  flex-direction: column; 
}

.sigmaSymbol {
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 20em;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .sigmaSymbol {
    height: 1em;
    margin-top: 5px;
  }

  .sigma {
    font-size: 3em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .sigmaSymbol {
    height: 18em;
  }
}

@media screen and (min-width: 1201px) {
  .sigmaSymbol {
    height: 20em; 
  }
}

.sigma {
  font-family:'Poppins', sans-serif;
}

.businessclub {
  font-family:'Open Sans', sans-serif;
}

.textContainer {
  display: flex;
  flex-direction: column; 
  min-width: 200px; 
}

.sigmaText {
  font-size: 9em; 
  font-weight: bold; 
  text-align: center; 
  color: white;
  margin-bottom: 90px;
}

.businessClub {
  font-size: 5em; 
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 500px) {
  .sigmaContainer {
    flex-direction: column; 
    align-items: center;
  }

  .sigmaSymbolContainer {
    margin-bottom: 50px; 
  }

  .sigmaSymbol {
    font-size: 10em; 
  }

  .sigmaText {
    font-size: 4em; 
    margin-bottom: 20px;
  }

  .businessClub {
    font-size: 1.5em;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}
