@media (max-width: 568px) {
    .members-projects {
        flex-direction: column !important;
        height: 70vh !important;
    }

    .white-line {
        width: 60% !important;
        margin-top: 20px !important;
    }

    .projects {
        margin-top: 40px !important;
    }

    .imgsigma {
        width: 350px !important;
        height: 350px !important;
    }
  }

  .hover-enlarge:hover {
    transform: scale(1.2); /* Increase the size by 10% on hover */
  }
  
  