body {
  margin-top: 0; 
}

@media (max-width: 1067px) {
  body {
    margin-top: 120px; 
  }

  .p-8 {
    padding: 20px;
  }
}

.experienced-leadership {
  background-color: black;
  color: white;
}

.leadership-content {
  background-color: black;
  color: white;
}

@media screen and (max-width: 640px) {
  /* Small screens */
  .analytics-content h1,
  .case-studies-content h1 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  /* Medium screens */
  .analytics-content h1,
  .case-studies-content h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1025px) {
  /* Large screens and above */
  .analytics-content h1,
  .case-studies-content h1 {
    font-size: 3rem;
  }
}

.our-story-text {
  font-size: 26px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width as needed */
  /* font-weight: bold; */
  font-family: monospace;
}

@media screen and (max-width: 768px) {
  .our-story-text {
    font-size: 14px; /* Adjust the font size as needed for smaller screens */
  }
}

.text-container {
  z-index: 1;
}

.black-box {
  background-color: black;
  border-radius: 10px; /* Adjust border radius as needed */
  margin-top: 20px;
}

.elliptical-image {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-left: 110px;
}

.blurry-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 10px solid transparent; 
  -webkit-mask-image: -webkit-radial-gradient(white, black); 
  mask-image: radial-gradient(white, black);
  filter: blur(10px); 
  z-index: -1;
}

@media only screen and (max-width: 568px) {
  .analytics-content,
  .case-studies-content {
    width: 100%; 
    margin: 0 0 16px; 
  }
}



.leadership-content{
  font-size: 16px; 
}

@media (max-width: 768px) {
  .leadership-content{
    font-size: 12px;
  }
}

.our-story-word{
  font-size: 2.5em;
}

@media (max-width: 768px) {
  .our-story-word{
    font-size: 2em;
  }
}


.our-mission-head{
  font-size: 5m;
}

@media (max-width: 768px) {
  .our-mission-head{
    font-size: 5em;
  }
}





