.cont:hover {
  box-shadow: 0px 4px 30px rgba(247, 176, 253, 0.5);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.hover-enlarge:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.hdng {
  font-family:'Poppins', sans-serif;
}

.sigma {
  font-family:'Poppins', sans-serif;
}

.data-analytics-section.load-from-left {
  animation: slideInFromLeft 2.5s forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.case-studies-section.load-from-right {
  animation: slideInFromRight 2.5s forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

  