@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.row-animated {
  animation: slideUp 1.5s ease-out forwards;
}

.custom-table-width {
    width: 90%;
}

.cell {
  height: 50px;
}

.cell2 {
  height: 50px;
  width: 30%;
}
  
.question-box {
  width: 50%;
}

.answer-box {
  width: 50%;
}

.arrow {
  right: 5%;
}

.inductions {
  font-family:'Poppins', sans-serif;
}

.table-div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .answer-box {
    width: 70%;
  }

  .question-box {
    width: 70%;
  }

  .arrow {
    right: 2%;
  }

  .custom-table-width {
    width: 100%;
  }

  .imageicon {
    width: 80px;
    height: 80px;
  }
}


