/* induc.css */

body {
  margin: 0;
  background: linear-gradient(90deg, #0F1017 0%, #0E113A 100%);
}

.containerInd {
  padding-top: 203px; /* This creates the 500px gap */
}

.gradient-textABTUS {
  background: linear-gradient(90deg, #8062F0 1.49%, #697EE2 10.56%, #5D8CDB 19.39%, #4BA6CC 28.63%, #40BAC0 36.16%, #2BDDAD 46.66%);
  -webkit-background-clip: text; /* For Chrome, Safari, and Opera */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* For non-WebKit browsers */
  font-weight: 400;
}

.plus-button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plus-button:hover {
  background-color: hsla(203, 72%, 60%, 1);
}

.textQuestions {
  background: hsla(203, 72%, 60%, 1);
  -webkit-background-clip: text; /* For Chrome, Safari, and Opera */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  color: transparent; /* For non-WebKit browsers */
  font-weight: 400;
}

